@use 'util/color' as color;
@use 'util/fonts' as font;
@use 'util/mixins' as mixin;
@use 'util/reset';
@use 'components/card';
@use 'components/checkbox';
@use 'components/debug';
@use 'components/dialogbox';
@use 'components/footer';
@use 'components/match';
@use 'components/modal';
@use 'components/numfield';
@use 'components/scrollbar';
@use 'components/settings';
@use 'components/about';
@use 'components/warningmodal';
@use 'components/packselect';

html {
  scroll-behavior: smooth;
  @include font.miso(1em);
  color: color.$lite;
  background-color: color.$dark;
}

.main {
  display: grid;
  grid-template-areas: "content" "footer";
}

.content {
  @include mixin.flex($dir: row-reverse);
  grid-area: content;
  min-height: 100vh;

  @include mixin.mobile {
    @include mixin.flex($dir: column, $align: start);
  }
}

// Player text colors
.text-p1 { color: color.$p1; }
.text-p2 { color: color.$p2; }

b { font-weight: 700 }

.display {
  @include mixin.flex($dir: column, $align: start, $x-align: center, $gap: 8px);
  margin: 0 auto;
  width: 100%;
  padding: 24px 0;
  //background-color: #00ff00;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: color.$darken;
  height: 100%;
  width: 100%;
  z-index: 1;
  &-dbox {
    @extend .backdrop;
    background: color.$darker;
    z-index: 3;
    backdrop-filter: blur(2px);
  }
}

// Classes used when there is no card draw on screen
.nodraw {
  @include mixin.flex($dir: column, $x-align: center);
  margin: 0 auto;
  user-select: none;
  min-height: calc(100vh - 48px - 164px);
  width: 100%;
  z-index: -1;
  overflow: hidden;
  &-text {
    text-align: center;
    &-head {
      font-size: 3em;
      font-weight: 700;
    }
    &-sub {
      font-size: 2em;
    }
  }
  @include mixin.mobile {
    min-height: calc(100vh - 206px - 48px - 172px);
    &-text {
      &-head {
        font-size: 2em;
        font-weight: 700;
      }
      &-sub {
        font-size: 1.5em;
      }
    }
  }
  // There is definitely a better way to do this
  &-nofields {
    @extend .nodraw;
    min-height: calc(100vh - 48px);
    @include mixin.mobile { 
      min-height: calc(100vh - 206px - 48px);
    }
  }
}

@mixin ring($width: 100px, $color: black, $spin: 20s) {
  position: absolute;
  transform-style: preserve-3d;
  width: $width;
  animation: spin $spin linear infinite;
  fill: $color;
}

@keyframes spin { 
  100% { 
      -webkit-transform: rotateZ(360deg); 
      transform:rotateZ(360deg); 
  } 
}

// bruh
.ring-container {
  @include mixin.flex($dir: column, $x-align: center);
  position: absolute;
  margin: 0 auto;
  top: 20%;
  user-select: none;
  perspective: 250px;
  min-height: 80%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  @include mixin.mobile {
    display: none;
  }
}

.ring {
  @include mixin.flex($dir: row, $x-align: center);
  position: relative;
  transform: rotateX(50deg) rotateY(-15deg) scale(0.75);
  left: -20px;
  top: 0px;
  z-index: -2;
  opacity: 1;
  &-e { @include ring(470px, color.$warning-dark, 30s) }
  &-c { @include ring(580px, color.$dark-lite, 20s) }
  &-a { @include ring(740px, color.$neutral, 120s) }
  &-b { @include ring(820px, color.$dark-lite) }
  &-f { @include ring(980px, color.$accent-dark, 200s) }
  &-g { @include ring(1180px, color.$neutral, 100s) }
  &-d { @include ring(1600px, color.$p2-dark, 240s) }
  &-h { @include ring(1900px,color.$dark-lite) }
}

.fade {
  position: absolute;
  background-color: #00ff00;
  min-height: 35vh;
  top: 65vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(#00000000 5%, color.$dark 95%, color.$dark 100%);
  @include mixin.mobile {
    display: none;
  }
}