@font-face {
  font-family: 'Miso';
  font-style: normal;
  font-weight: 400;
  src: local('Miso'), url('fonts/miso.woff') format('woff');
}

@font-face {
  font-family: 'Miso';
  font-style: normal;
  font-weight: 100;
  src: local('Miso Light'), url('fonts/miso-light.woff') format('woff');
}

@font-face {
  font-family: 'Miso';
  font-style: normal;
  font-weight: 800;
  src: local('Miso Bold'), url('fonts/miso-bold.woff') format('woff');
}

@font-face {
  font-family: 'Mega';
  font-style: normal;
  font-weight: normal;
  src: local('Mega'), url('fonts/mega.woff') format('woff');
}

:root {
  font-family: Miso, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: -1px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Holy shit i am so bad at css */
.cardDisplay {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 100%;
  align-items: center;

  gap: 8px;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  border: 2px solid;
  border-radius: 4px;

  width: 80%;
  max-width: 800px;
  min-height: 65px;

  padding: 12px;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */

  position: relative;
  z-index: 3;

  transition: filter 0.5s, border-color 0.5s;
}

.card:hover {
  filter: drop-shadow(0 0 0.4rem #ffffff);
  cursor: pointer;
}

.card-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 6px;
}

.card-diff {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-width: 38px;
  min-height: 38px;
}

.card-text-diff {
  font-size: 1.4em;
  font-family: Mega;
  letter-spacing: 0.02em;
  margin-right: -3px;
  color: black;
}

.card-meta {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  text-shadow: 1px 1px 10px #000000;
}

.card-meta>* {
  margin: -2px 0;
}

.card-text-title {
  font-size: 2.2em;
  font-weight: 800;
}

.card-text-artist {
  font-weight: 200;
  font-size: 1.2em;
  margin: -6px 0 -4px;
}

.card-text-subtitle {
  font-weight: 200;
  font-style: oblique;
  font-size: 1.2em;
}

.card-text-nocmod {
  position: relative;
  font-size: 0.45em;
  font-weight: 400;
  display: inline-block;
  background-color: #FF1744;
  color: black;
  padding: 2px 4px;
  border-radius: 4px;
  text-shadow: none;
  left: 6px;
  top: -6px;
  box-shadow: 1px 1px 5px #000000;
}

.card-right {
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  justify-content: center;
  text-shadow: 1px 1px 5px #000000;
  width: 90px;
}

.card-right>* {
  margin: -2px 0;
}

.card-right-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 80px;
}

/* Card status classes */
.card-status-tooltip {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
}

.icon-svg > svg {
  stroke: #FFFFFF;
}

.card-status-playertext {
  font-size: 2em;
  font-weight: 800;
}

.card-text-tier {
  font-weight: 600;
  font-size: 1.4em;
}

.card-text-bpm {
  font-weight: 400;
  font-size: 1em;
  text-align: right;
}


button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  border-color:#505050;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.diff-n {
  background-color: #a355b8;
}

.diff-e {
  background-color: #1ec51d;
}

.diff-m {
  background-color: #d6db41;
}

.diff-h {
  background-color: #ba3049;
}

.diff-x {
  background-color: #2691c5;
}

.diff-edit {
  background-color: #f7f7f7;
}

/* Player text colors */
.text-p1 {
  color: #54B4FF;
}
.text-p2 {
  color: #FF5151;
}

/* Card modal classes */
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background: #00000000;
  height: 100%;
  width: 100vw;

  z-index: 1;
}

.modal-wrapper {
  z-index: 2;
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 80px;
}

.modal-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 30px;
}

.modal-section-inner {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.modal-text-major {
  font-size: 3em;
  font-weight: 800;
}

.modal-button { /* somehow managed to use this in two nested elements in a row but it works so who cares we take those */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  width: 120px;
}

.modal-button-text {
  font-size: 1.2em;
}

.header {
  z-index: 2;
  position: relative;
}

/* Classes used when there is no card draw on screen */
.nodraw {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}

.nodraw-img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.nodraw-text {
  margin: 0 auto;
  font-size: 3em;
  font-weight: 400;
}

.nodraw-text-sub {
  margin: 0 auto;
  font-size: 2em;
  font-weight: 400;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 1.25em;
  font-weight: 400;
}

.footer-text > a {
  text-decoration: underline;
  transition: filter 0.25s;
}

.footer-text > a:hover {
  filter: drop-shadow(0 0 0.2rem #ffffff);
}