:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Holy shit i am so bad at css */
.cardDisplay {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  
  gap: 15px;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  border: 2px solid;
  border-radius: 4px;

  min-width: 60%;
  min-height: 100px;

  padding: 10px;

  transition: border-color 0.25s;
}
.card:hover {
  border-color: #646cff;
  cursor: pointer;
}

.card-text-upper {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: space-between;
  text-shadow: 1px 1px 10px #000000;
}

.card-text-title {
  font-weight: 800;
  font-size: 2.5em;
}
.card-text-artist {
  font-weight: 400;
  font-size: 1.25em;
}
.card-text-subtitle {
  font-weight: 400;
  font-style: oblique;
  font-size: 1.25em;
}
.card-text-tier {
  font-weight: 600;
  font-size: 1.4em;
}
.card-text-diff {
  font-weight: 600;
  font-size: 1.4em;
}

.card-text-lower {
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
  justify-content: space-between;
  text-shadow: 1px 1px 5px #000000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}