@use "sass:map";

// base colors
$lite:          #f0f0f0;
$lite-dark:     #808080;
$neutral:       #474747;
$dark-lite:     #242424;
$dark:          #161616;
$dark2:         #101010;
$accent:        #646cff;
$accent-dark:   #1a2731;
$warning:       #ff1744;
$warning-dark:  #391d23;

// transparents
$darken:        #00000040;
$darker:        #00000099;
$darkest:       #000000cc;

// difficulty colors
$diffs: (
    "novice":   #a355b8,
    "easy":     #1ec51d,
    "medium":   #d6db41,
    "hard":     #ff5151,
    "expert":   #54b4ff,
    "edit":     #aaaaaa,
);

// player colors
$p1:            #ff5151;
$p2:            #54b4ff;
$p1-dark:       #a23a3a;
$p2-dark:       #3674a3;