@use '../util/color' as color;

@mixin flex($dir: row, $wrap: nowrap, $align: center, $x-align: stretch, $gap: 0) {
  display: flex;
  flex-flow: $dir $wrap;
  justify-content: $align;
  align-items: $x-align;
  gap: $gap;
}

@mixin border($radius: 4px, $width: 2px, $color: color.$lite-dark) {
  border-radius: $radius;
  border: $width solid $color;
}

@mixin mobile() {
  @media (max-width: 599.99px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 600px) {
    @content;
  }
}