@use '../util/color' as color;
@use '../util/fonts' as font;
@use '../util/mixins' as mixin;

.checkbox {
  user-select: none;
  @include mixin.flex($align: start, $x-align: center, $gap: 4px);
  cursor: pointer;
  @include mixin.mobile {
    gap: 8px;
    @include mixin.flex($dir: row-reverse, $align: space-between, $x-align: center);
    padding: 16px 0;
    border-bottom: 2px solid color.$dark;
    &:nth-child(n+5) {
      border-bottom: none;
    }
  }

  &-label {
    font-size: 1.2em;
    font-weight: 300;
    transition: color 0.15s;
    @include mixin.desktop {
      &:hover {
        color: color.$lite-dark;
      }
    }
    @include mixin.mobile {
      font-size: 1.3em;
      font-weight: 400;
    }
  }

  $dim: 20px;
  $dim2: 30px;
  &-input {
    appearance: none;
    margin: 0;
    height: $dim;
    width: $dim;
    @include mixin.border();
    position: relative;
    transition: border-color 0.15s, background-color 0.15s;
    cursor: pointer;
    @include mixin.mobile {
      height: $dim2;
      width: $dim2;
    }

    &:after {
      content: "";
      height: $dim - 5;
      width: $dim - 5;
      margin-top: 1px;
      margin-left: 1px;
      background-color: transparent;
      transform-origin: bottom left;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      display: block;
      text-align: center;
      transition: background-color 0.15s;
      @include mixin.mobile {
        height: $dim2 * 0.85 - 5;
        width: $dim2 * 0.85 - 5;
        margin-top: 3px;
        margin-left: 3px;
      }
    }

    &:checked:after {
      background-color: color.$accent;
    }

    @include mixin.desktop {
      &:hover {
        background-color: color.$accent-dark;
        border-color: color.$accent;
        &:not(:checked):after {
          color: color.$neutral;
        }
      }
    }
  }
}

#checkbox-showbackground {
  @include mixin.mobile {
    display: none;
  }
}