@use '../util/color' as color;
@use '../util/fonts' as font;
@use '../util/mixins' as mixin;

.debug {
  @include mixin.flex($align: space-evenly, $gap: 16px);
  margin-bottom: 32px;
  &-detail {
    @include font.mono(11px);
    background-color: color.$dark2;
    width: 100%;
    padding: 16px;
  }
  &-list {
    //@include mixin.flex($dir: row, $wrap: wrap, $align: start, $gap: 2px);
    column-count: 3;
  }

  @include mixin.mobile {
    flex-wrap: wrap;
    &-detail {
      width: 100%;
    }
  }
}