@use '../util/color' as color;
@use '../util/fonts' as font;
@use '../util/mixins' as mixin;

.debug {
  @include mixin.flex($align: space-evenly);
  margin-bottom: 32px;
  &-detail {
    @include font.mono(11px);
    background-color: color.$darken;
    width: 45%;
    padding: 16px;
    text-align: justify;
  }
}