@use '../util/color' as color;
@use '../util/fonts' as font;
@use '../util/mixins' as mixin;

.dbox {
  @include mixin.flex($dir: column);
  @include mixin.border();
  max-width: 500px;
  max-height: 400px;
  margin: 0 auto;
  position: absolute;
  top: 41.5%;
  left: 0; 
  right: 0;
  user-select: none;
  z-index: 4;
  @include mixin.mobile {
    width: 92vw;
  }
  
  &-upper {
    @include mixin.flex($align: space-between, $x-align: center);
    background-color: color.$neutral;
    border-radius: 0 2px 0 0;
    padding: 0 12px;
    &-text {
      @include font.miso(1.5em, color.$lite, 700);
      line-height: 1;
    }
    &-button {
      padding: 2px 12px;
      border-radius: 0 2px 0 0;
      margin-right: -12px;
      cursor: pointer;
      transition: background-color 0.15s;
      @include mixin.desktop {
        &:hover {
          background-color: color.$warning-dark;
        }
      }
    }
    &-close {
      width: 26px;
      margin-top: 2px;
      fill: color.$lite;
    }
  }

  &-body {
    @include mixin.flex($dir: column, $gap: 24px);
    background-color: color.$dark2;
    border-radius: 0 0 2px 2px;
    padding: 24px;
    &-text {
      @include font.miso(1.6em, color.$lite, 400);
      line-height: 1;
      text-align: justify;
    }
  }

  &-options {
    @include mixin.flex($dir: row, $align: end, $gap: 16px);
    &-button {
      @include font.miso(1.4em, $weight: 700);
      letter-spacing: -0.5px;
      line-height: 1em;
      background-color: color.$dark;
      padding: 4px 20px;
      @include mixin.border($radius: 6px, $color: color.$neutral);
      cursor: pointer;
      transition: border-color 0.15s, background-color 0.15s;
    }
    &-yes {
      @extend .dbox-options-button;
      color: color.$accent;
      @include mixin.desktop {
        &:hover {
          background-color: color.$accent-dark;
          border-color: color.$accent;
        }
      }
    }
    &-no {
      @extend .dbox-options-button;
      color: color.$warning;
      @include mixin.desktop {
        &:hover {
          background-color: color.$warning-dark;
          border-color: color.$warning;
        }
      }
    }
  }
}