@use '../util/color' as color;
@use '../util/fonts' as font;
@use '../util/mixins' as mixin;

.match {
  @include mixin.flex($align: center, $x-align: center, $gap: 16px);
  width: 100%;
  max-width: 690px;
  &-name {
    @include font.miso(2.25em, color.$lite, 700);
    @include mixin.border($color: transparent);
    line-height: 0;
    background-color: color.$dark2;
    outline: unset;
    padding: 8px 12px;
    width: 100%;
    text-transform: uppercase;
    transition: border-color 0.15s;
    @include mixin.desktop {
      &:hover {
        border-color: color.$lite-dark;
      }
    }
    &:focus {
      border-color: color.$lite-dark;
    }
  }
  &-players {
    @include mixin.flex($dir: column, $gap: 4px);
  }

  @include mixin.mobile {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
  }
}

.player {
  @include mixin.flex($align: space-between, $x-align: center, $gap: 8px);
  @include font.miso(1.5em, color.$lite, 700);
  line-height: 0;
  &-p1 {
    @extend .player;
    color: color.$p1;
    & > .player-id {
      background-color: color.$p1;
    }
    @include mixin.desktop {
      & .player-name:hover  {
        border-color: color.$p1-dark;
      }
    }
    & .player-name:focus {
      border-color: color.$p1-dark;
    }
  }
  &-p2 {
    @extend .player;
    color: color.$p2;
    & > .player-id {
      background-color: color.$p2;
    }
    @include mixin.desktop {
      & .player-name:hover  {
        border-color: color.$p2-dark;
      }
    }
    & .player-name:focus {
      border-color: color.$p2-dark;
    }
  }

  $dim: 34px;
  &-id {
    @include mixin.flex($x-align: center);
    width: $dim;
    height: $dim;
    user-select: none;
    &-text {
      @include font.mega(0.75em);
    }
  }
  &-info {
    @include mixin.flex($x-align: center);
    user-select: none;
  }
  
  $pw: 12px;
  &-name {
    @include font.miso(1em, inherit, 700);
    @include mixin.border($color: transparent);
    letter-spacing: -0.5px;
    line-height: 0;
    background-color: color.$dark2;
    outline: unset;
    padding: 4px $pw;
    width: 240px;
    margin-right: calc($pw * -2 - 8px);
    transition: border-color 0.15s;
    @include mixin.mobile {
      width: 267px;
    }
  }
  &-score {
    @include font.miso(0.66em, inherit, 400);
    letter-spacing: 0;
    position: relative;
    right: $pw;
  }
}