@use '../util/color' as color;
@use '../util/fonts' as font;
@use '../util/mixins' as mixin;

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  &-track {
    display: none;
  }
  &-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 99px;
    background-color: color.$neutral;
    &:hover {
      background-color: color.$lite-dark;
    }
  }
}