@use '../util/color' as color;
@use '../util/fonts' as font;
@use '../util/mixins' as mixin;

.header {
  @include mixin.flex($dir: column, $align: space-between, $gap: 24px);
  padding: 24px;
  background-color: color.$dark2;

  @include mixin.mobile {
    @include mixin.flex($dir: column-reverse, $align: space-between, $gap: 12px);
  }

  &-controls {
    @include mixin.flex($dir: column, $align: start, $gap: 24px);
  }

  &-info {
    @include mixin.flex($dir: column, $align: end, $gap: 2px);
    @include mixin.mobile {
      @include mixin.flex($dir: row, $align: space-between, $x-align: center);
    }
  }
}

.mobile-menu { 
  display: none;
  width: 42px;
  fill: color.$lite;
  cursor: pointer;
}

.settings {
  @include mixin.flex($dir: column, $gap: 24px);
  &-inner {
    @include mixin.flex($align: space-between, $x-align: end, $gap: 32px);
  }
  &-fields {
    @include mixin.flex($dir: column, $align: center, $gap: 8px);
  }
  &-checks {
    @include mixin.flex($dir: column, $align: center, $gap: 8px);
    @include mixin.mobile {
      gap: 0;
    }
  }
  &-warning {
    max-width: 292px;
    text-align: justify;
    color: color.$lite-dark;
    letter-spacing: -0.4px;
    user-select: none;
    & u {
      text-decoration-thickness: 1px;
      color: color.$warning;
      font-weight: 700;
    }
  }

  @include mixin.mobile {
    gap: 16px;
    display: none;

    &-inner {
      justify-content: center;
    }

    &-warning {
      max-width: 100%;
      padding: 0 32px;
    }
  }
}

.actions {
  @include mixin.flex($dir: row, $align: space-around, $x-align: start, $gap: 2px);
  @include mixin.mobile {
    justify-content: space-between;
    gap: 0px;
  }
  &-resets {
    @include mixin.flex($gap: 4px, $dir: column);
    @include mixin.mobile {
      @include mixin.flex($gap: 12px, $dir: row);
    }
  }
}

.action {
  @include font.miso(2.2em, $weight: 700);
  letter-spacing: 0;
  line-height: 1em;
  background-color: color.$dark;
  @include mixin.border($radius: 6px, $color: color.$neutral);
  cursor: pointer;
  transition: border-color 0.15s, background-color 0.15s;

  &-draw {
    @extend .action;
    padding: 14px 48px;
    color: color.$accent;
    @include mixin.desktop {
      &:hover {
        background-color: color.$accent-dark;
        border-color: color.$accent;
      }
    }
    @include mixin.mobile {
      width: 43vw;
      max-width: 180px;
      padding: 8px 0;
    }
  }
  &-clear {
    font-size: 1.45em;
    padding: 2px 25px;
    @extend .action;
    color: color.$lite;
    @include mixin.desktop {
      &:hover {
        background-color: color.$dark-lite;
        border-color: color.$lite-dark;
      }
    }
    @include mixin.mobile {
      font-size: 1.5em;
      padding: 13.5px 10px;
    }
  }
  &-reset {
    font-size: 1.2em;
    padding: 4px 12px;
    @extend .action;
    color: color.$warning;
    @include mixin.desktop {
      &:hover {
      background-color: color.$warning-dark;
      border-color: color.$warning;
      }
    }
    @include mixin.mobile {
      font-size: 1.5em;
      padding: 13.5px 10px;
    }
  }
}

.mobile-detail {
  display: none;
  @include font.miso(1.1em);
  text-align: center;
  margin-top: -12px;
  line-height: 1em;
  & b {
    color: color.$p2;
  }
  & u {
    text-decoration-thickness: 1px;
    color: color.$warning;
    font-weight: 700;
  }
  @include mixin.mobile {
    @include mixin.flex($dir: column, $align: center, $gap: 2px);
  }
}

@include mixin.mobile {
  .logo { 
    width: 112px;
  }
  .mobile-menu {
    display: block;
  }
  .settings-showmobile {
    display: flex;
  }
}